<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnimationGuideDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84F81B461C58AB7500CC610F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F81B5F1C58AB7500CC610F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F81B6A1C58AB7500CC610F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
